<h1>Cadastro de Usuario</h1>
<form action="/cadastrado" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Idade:</p>
    <input type="number" name="idade">
    <p><button type="submit">Cadastrar usuario</button></p>
</form>