<h1>Insira o numero do Id do usuário à ser consultado</h1>

<form action="/usuario/{{id}}" method="POST">
    <p>Id:</p>
    <input type="number" name="id">
    <p><button type="submit">Consultar</button></p>
</form>