<h1>Insira o numero do Id do usuário à ser editado</h1>

<form action="/atualizar/atualizado" method="POST">
    <p>Id:</p>
    <input type="number" name="id">
    <p>Novo nome:</p>
    <input type="text" name="nome">
    <p>Nova idade:</p>
    <input type="number" name="idade">
    <p><button type="submit"> Atualizar usuario</button></p>
</form>