<h1>Insira o numero do Id do usuário a ser excluido</h1>

<form action="/excluido" method="POST">
    <p>Id:</p>
    <input type="number" name="id">
    <p><button type="submit"> Remover usuario</button></p>
</form>